.chat-input {
  width: 100px;
  border: 1px solid;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.button {
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
